# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Logs
*.log

# Env files
.env
.env.local
client/.env
client/.env.local
server/.env
server/.env.local

# Build output
dist/
client/dist/
server/dist/

# OS/system files
.DS_Store
Thumbs.db  
